<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <form>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>

            <button type="submit">Login</button>

            <p class="register-link">
                Don't have an account? <a href="#">Register</a>
            </p>
        </form>
    </div>

    <div>
        <p>login working</p>
    </div>

</body>
</html>